<form action="/api/product" method="POST"> 
    <div class="container-fluid">

    <div class="row">
            <div class="col-2"></div>
            <div class="col-4">
                 <div class="form-group">
                     <label for="Nombre">name</label>
                 <input type="text" class="form-control" value="" name="name" placeholder="Name">
                 </div>
            </div>
            <div class="col-4">
<div class="form-group">
        <label for="Price">Price</label>
        <input type="number" class="form-control" value="" placeholder="Introduce a price" name="price">
    </div>
            </div>
            <div class="col-2"></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4">
            <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" name="category">
		
		
		
            
            <option>Computers</option>
            <option>Phones</option>
            <option>Accesories</option>
        </select>
		
		
		
    </div>
        </div>
        <div class="col-4">
            <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" value="" placeholder="Write a description" name="description">
    </div>
        </div>
        <div class="col-2"></div>

    </div>
   
    
    <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
             <div class="form-group">

	
        <label for="picture">Picture</label>
		
        <input type="text" class="form-control" value="" placeholder="Url for your avatar" name="picture">
         </div>
        </div>

        <div class="col-5"></div>

    </div>
    <br>
   <div class="row">
        <div class="col-5"></div>
        <div class="col-2">
    <button type="submit" class="btn btn-primary">GUARDAR</button>
      </div>

        <div class="col-5"></div>

    </div>
</form>
</div>